</div>

<div class="container-fluid p-3 pt-4 foot bg-dark" style="bottom: 0;">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center text-left">
            <ul class="list-unstyled text-white">
                <li class="fw-bold">GET TO KNOW US</li>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Inquiry/Feedback</li>                   
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center text-left">
            <ul class="list-unstyled text-white">
                <li class="fw-bold">HELP</li>
                <li>Payments</li>
                <li>Shipping</li>
                <li>Cancelation & Return</li>
               
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center text-left">
            <ul class="list-unstyled text-white">
                <li class="fw-bold">CONSUMER POLICY</li>
                <li>Terms & Conditions</li>
                <li>Security</li>
                <li>Privacy Policy</li>                    
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">
            <ul class="list-unstyled text-white pt-3">                    
                <a href="" class="text-decoration-none text-white">
                    <i class="fa-brands fa-twitter h3 mx-2"></i>
                </a>
                <a href="" class="text-decoration-none text-white">
                    <i class="fa-brands fa-instagram h3 mx-2"></i>
                </a>
                <a href="" class="text-decoration-none text-white">
                    <i class="fa-brands fa-facebook h3 mx-2"></i>
                </a>
            </ul>
        </div>
    </div>
</div>


<script src="/assests/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script> -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>