<%- include('../partials/signedin_header') %>

  

<section class="text-center ">
    <div class="card p-5 mt-3 bg-dark border-radius shadow d-inline-block text-white">
      <!-- <div class="bg-dark ms-5" style="border-radius: 50%; height: 150px; width: 200px;">
        <br />
        <i class="fas text-success me-3" style="font-size: 50px;"></i>
      </div> -->
      <h1 class="text-success">Success</h1>
      <p>Your purchase request has been received successfully. We will contact you shortly!</p>
      <br>
      <div>
        <a href="/orderList" class="btn btn-success px-5 vw-80">Track Order</a>
      </div>
      <br>
      <a href="/dashboard" class="text-white fw-bold text-decoration-none">Go To Home</a>
    </div>
  </section>



  <%- include('../partials/footer') %>