<%- include('../partials/signedin_header') %>

<!-- ........................................................................................................... -->
<div class="container">
    <div class="box d-flex align-items-center justify-content-center px-md-5 m-auto py-5">
        <div class="card p-4" style="width: 50%">
        <h2 class="text-center">CHANGE PASSWORD</h2><BR></BR>
        <form action="/userPasswordChange" method="post" class="form-row">
            <label for="password" class="form-group">Current Password</label>
            <input type="password" id="password1" name="password" class="form-control border-dark" required onchange="validatePassword1()">
            <p id="messagePwd1" class="text-danger"></p>
            <label for="new password" class="form-group">New Password</label>
            <input type="password" id="password" name="newpassword" class="form-control border-dark" required onchange="validatePassword()">
            <p id="messagePwd" class="text-danger"></p>
            <label for="confirmpassword" class="form-group">Confirm Password</label>
            <input type="password"  id="confirmPassword" name="confirmpassword" class="form-control border-dark" required onchange="checkPasswordMatch()">
            <p id="messagePwdMatch" class="text-danger"></p>
            <% if (messages.success) { %>
                <div class="alert alert-success">
                    <%= messages.success %>
                </div>
            <% }else if (messages.error){ %>
              <div class="alert alert-danger">
                <%= messages.error %>
            </div>
            <%}%>
            <div class="text-center py-3">
                <input type="Submit" class="btn btn-outline-dark px-5">
            </div>
        </form>           
    </div>
    </div>
</div>
<!-- ................................................................................................................ -->

<%- include('../partials/footer') %>